<app-navbar-system></app-navbar-system>
<app-sidenav></app-sidenav>

<div class="container-fluid">
    <div class="row justify-content-md-center mt-6">
            <div class="col-md-10 div_pizzas">
                <div class="col-md-6">
                    <h1 class="h1">Upload de imagem(funcionando)</h1>
                    <app-upload-image-modal></app-upload-image-modal>
                </div>

                <div class="col-md-6">
                    <h1 class="h1">Informações do produto</h1>
                </div>
            </div>
    </div>
</div>