<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="col-md-12">
                <i class="fas fa-camera"></i> <!-- Ícone de câmera -->
                <span>Ligue para: 40028922</span>
            </div>
            <div class="col-md-12">
                <i class="fas fa-camera"></i> <!-- Ícone de câmera -->
                <span>Ligue para: 40028922</span>
            </div>
        </div>
        <div class="col-md-6 display-flex">
            <div class="div_logo_img">
                <img class="logo-img" src="../../../assets/images/logo.png" alt="Pizzaria imagem logo">
            </div>
        </div>
        <div class="col-md-3">
            <div class="div_order_social">
                <div class="div_icons">
                    <i class="icon-props fa-brands fa-facebook"></i> 
                    <i class="icon-props fa-brands fa-twitter"></i>
                    <i class="icon-props fa-brands fa-google"></i>
                    <i class="icon-props fa-brands fa-instagram"></i>
                </div>

                <button routerLink="/cadastro" class="btn btn-warning btn-order float-right">
                    <span class="btn-order-title">PEÇA ONLINE</span>
                </button>
            </div>
        </div>
        <hr class="hr-props">
        <div class="display-flex m-2">
            <div class="m-auto">
                <button routerLink="/" class="btn btn-outline btn-props-action">
                    <span class="btn-nav-text">HOME</span>
                </button>
                <button class="btn btn-outline btn-props-action">
                    <span class="btn-nav-text">SOBRE NÓS</span>
                </button>
                <button class="btn btn-outline btn-props-action">
                    <span class="btn-nav-text">NOSSO SERVIÇO</span>
                </button>
                <button class="btn btn-outline btn-props-action">
                    <span class="btn-nav-text">NOSSO PORTIFÓLIO</span>
                </button>
                <button class="btn btn-outline btn-props-action">
                    <span class="btn-nav-text">NOSSO BLOG</span>
                </button>
                <button class="btn btn-outline btn-props-action">
                    <span class="btn-nav-text">CONTATO</span>
                </button>
            </div>
        </div>
    </div>
</div>

