.btn-order-title{
    font-weight: 500;
}

.btn-order{
    border-radius: 14px;
}

.hr-props{
    width: 100%;
    height: 8%;
    margin: 6px 6px 6px 0px;
    border-top: 2px solid black;
}

.display-flex{
    display: flex;
}

.icon-props{
    font-size: 21px;
    padding: 7px;
}

.div_icons{
    display: inline-block;
}

.m-auto{
    margin: auto;
}

.div_order_social{
    margin-top: 30px;
}

.btn-nav-text{
    font-weight: 500;
    font-size: 18px;
}

.div_logo_img{
    height: 138px;
    width: 200px;
    margin: auto;
}

.logo-img{
    width: 100%;
    height: 100%;
}


.btn-props-action:hover{
    background-color: #FFCA2C;
    cursor: pointer;
}

.icon-props:hover{
    color: #FFCA2C;
    cursor: pointer;
}