<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="../../../../assets/images/logo.png" alt="">
        </a>
    </span>

    <span class="title-group">
       <a>
            <i class="material-icons">
                home
            </i>
            Massa fina system    
       </a> 
    </span>
    <div class="w-100">
        <!-- <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar> -->
        <button aria-placeholder="Configurações" type="button" class="btn btn-outline-secondary float-right m-auto d-flex">
            <mat-icon>settings</mat-icon>
        </button>
        
    </div>
    
</mat-toolbar>